Library/
Logs/
UserSettings/
Assets/_Udemy Tower Defence Assets/
Assets/PolygonApocalypse/Scenes/
Temp/
Assets/Assets import/PolygonApocalypse/Scenes/
Assets/PROTOFACTOR/Ultimate Animation Collection/Animations/Minigun Animset/FBX Motions/Protof-Actor@MinigunAnimset.fbx
Assets/PolygonMilitary/Scenes/
Assets/Assets import/PolygonFarm/Demo/
